# importing necessary libraries

In [ ]:
import pandas as pd 
import numpy as np

# reading dataset

In [17]:
data=pd.read_csv("zeta.csv")
data.head(10)

   zcta sex    meanage  meaneducation  meanemployment  meanhouseholdincome
0   601   F  36.743057      10.609348        0.623969         17110.989011
1   602   F  37.403347      10.912822        0.740029         18533.843764
2   601   M  35.825543      10.513826        1.061615         17110.989011
3   602   M  35.935740      10.692618        1.343883         18533.843764
4   603   F  38.640220      10.978606        0.738380         19545.957947
5   604   F  31.809427      13.913371        1.085855         40784.490741
6   603   M  37.084675      11.002244        1.153833         19545.957947
7   604   M  31.104254      14.264654        1.602559         40784.490741
8   617   F  36.623525      10.868303        0.801264         19109.251779
9   606   F  35.990794      10.097773        0.628753         17496.526055

# Analysing the table

In [11]:
data.describe()

,zcta,meanage,meaneducation,meanemployment,meanhouseholdincome
count,64076.000000,64076.000000,64076.000000,64076.000000,64076.000000
mean,49800.628410,39.675740,12.526231,1.787177,48245.235116
std,27344.886318,6.009747,1.367457,0.421324,18031.578348
min,601.000000,0.000000,0.000000,0.000000,0.000000
25%,27305.000000,36.651686,11.907867,1.541530,37641.502519
50%,49909.000000,39.299358,12.455349,1.813328,44163.477129
75%,72007.000000,42.275524,13.106288,2.076923,54372.864521
max,99950.000000,137.076923,19.000000,3.000000,250000.000000

# Getting Columns names

In [18]:
data.columns.to_list()

['zcta',
 'sex',
 'meanage',
 'meaneducation',
 'meanemployment',
 'meanhouseholdincome']

# Getting number of rows

In [19]:
data.shape[0]

64076

# check if there are duplicated rows

In [23]:
 data[data.duplicated()]

Empty DataFrame
Columns: [zcta, sex, meanage, meaneducation, meanemployment, meanhouseholdincome]
Index: []

# so from 6 we can say that there are no duplicate rows